<a href="https://colab.research.google.com/github/han0217/colab/blob/main/lession2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

＊ 파이썬 2장
 * 변수와 input()함수

In [6]:
a = 100
b = 200
c = a+b
d = a-b
e = a*b
f = a/b
print(a,"+", b, "=", c)
print(a,"-", b, "=", d)
print(a,"*", b, "=", e)
print(a,"/", b, "=", f)

100 + 200 = 300
100 - 200 = -100
100 * 200 = 20000
100 / 200 = 0.5

In [13]:
num1 = input("첫번째 숫자 입력 ==>" )
num2 = input("두번째 숫자 입력 ==>" )
result = int(num1) + int(num2)
print(num1, "+", num2, "=", result)

첫번째 숫자 입력 ==>100
두번째 숫자 입력 ==>200
100 + 200 = 300

In [16]:
num1 = input("첫번째 숫자 입력 ==>" )
num2 = input("두번째 숫자 입력 ==>" )
result = int(num1) - int(num2)
print(num1, "-", num2, "=", result)

첫번째 숫자 입력 ==>100
두번째 숫자 입력 ==>200
100 - 200 = -100

In [17]:
num1 = input("첫번째 숫자 입력 ==>" )
num2 = input("두번째 숫자 입력 ==>" )
result = int(num1) * int(num2)
print(num1, "*", num2, "=", result)

첫번째 숫자 입력 ==>100
두번째 숫자 입력 ==>200
100 * 200 = 20000

In [18]:
num1 = input("첫번째 숫자 입력 ==>" )
num2 = input("두번째 숫자 입력 ==>" )
result = int(num1) / int(num2)
print(num1, "/", num2, "=", result)

첫번째 숫자 입력 ==>100
두번째 숫자 입력 ==>200
100 / 200 = 0.5

In [20]:
print("** 논술형 문제 - input()함수를 이용한 간단한 계산기 ** ")
num1 = float(input("첫번째 숫자를 입력 : "))
num2 = float(input("두번째 숫자를 입력 : "))
print(num1, "+", num2, "=", num1 + num2)
print(num1, "-", num2, "=", num1 - num2)
print(num1, "X", num2, "=", num1 * num2)
print(num1, "/", num2, "=", num1 / num2)

** 논술형 문제 - input()함수를 이용한 간단한 계산기 **
첫번째 숫자를 입력 : 100
두번째 숫자를 입력 : 200
100.0 + 200.0 = 300.0
100.0 - 200.0 = -100.0
100.0 X 200.0 = 20000.0
100.0 / 200.0 = 0.5

* 문자열 예제

In [22]:
name = input("이름 ==> ")
tel_number = input("전화번호 ==> ")
print("제 이름은", name, "연락처는", tel_number, "입니다.")

이름 ==> 개하비
전화번호 ==> 010-1234-5678
제 이름은 개하비 연락처는 010-1234-5678 입니다.

In [31]:
print("## 택배를 보내기 위한 정보를 입력하세요. ##")
name = input('받는 사람 : ')
address = input('주소 : ')
weight = int(input('무게(g) : '))
print('** 받는 사람 >>', name)
print('** 주소 >>', address)
print('** 배송비 >>', weight*5, '원')

## 택배를 보내기 위한 정보를 입력하세요. ##
받는 사람 : 김난생
주소 : 서울 영등포구 여의도동 88
무게(g) : 721
** 받는 사람 >> 김난생
** 주소 >> 서울 영등포구 여의도동 88
** 배송비 >> 3605 원

In [33]:
a = 100
b = 200
c = a+b
d = a-b
e = a*b
f = a/b
print(a,"+", b, "=", c)
print(a,"-", b, "=", d)
print(a,"*", b, "=", e)
print(a,"/", b, "=", f)

100 + 200 = 300
100 - 200 = -100
100 * 200 = 20000
100 / 200 = 0.5

In [38]:
a = int(input('숫자 1 >>'))
b = int(input('숫자 2 >>'))
print(a, "+", b, "=", a+b)
print(a, "-", b, "=", a-b)
print(a, "*", b, "=", a*b)
print(a, "/", b, "=", float(a/b))
print(a, "//", b, "=", a//b)
print(a, "%", b, "=", a%b)
print(a, "**", b, "=", a**b)

숫자 1 >>10
숫자 2 >>3
10 + 3 = 13
10 - 3 = 7
10 * 3 = 30
10 / 3 = 3.3333333333333335
10 // 3 = 3
10 % 3 = 1
10 ** 3 = 1000